*{
    padding:0;
    margin:0;
    
}

.card-header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 20px;
    
}

.card-content{
    width: 100%;
    max-width:  500px;
    gap: 50px;
}
